.header-profile {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height: 520px;
    width: 100%;
    background-color: palevioletred;
    background-image: url("../images/asfalt-light.png");
    top: 120px;
}


.image-container {
    margin-top: 100px;
}