nav {
    color: #FFFFFF;
    background-color: #4056A1;
    height: 120px;
    width: 100vw;
  }


.nav-words {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    
}
.logo-font {
    font-family: "Bungee";
}

.arrow-icon {
    display: flex;
    color: red;

}

.tweet-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-css {
    z-index: 1;
    position:fixed;
    width: 100%;
}

@keyframes arrow-motion {
    from {
        transform: translate3d(0, -5px, 0);
    } 
    to {
        transform: translate3d(0, 5px, 0);
    }
}
.arrow-icon:hover {
    animation: arrow-motion 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
