.button {
    background-color: rgb(68, 0, 255);
    color: white;
    font-family: "Bungee";
    border: none;
    padding: 5px 10px;
    margin-bottom: 7px;
}

.avatar_img {
    display: flex;
    padding: 10px;
}

.avatar_img img {
    margin-right: 5px;
}

.counter {
    font-family: "Bungee";
}

.button_counter {
    display: flex;
    justify-content: space-between;
 }

#tweet-text {
    width: 100%;
    background-color: #f4f1ec;
    border: none;
    border-bottom: 2px solid;
    margin-top: 35px;
}

.label-form {
    background-color: #f4f1ec;
}

.error-message {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 3%;
    padding-left: 3%;
    color: red;
    background-color: #f4f1ec;
}